body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #f0f8ff;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  background-color: #333;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0 15px;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 15px 20px;
  display: inline-block;
}

nav li:hover {
  background-color: #555;
}


/* CSS */
.button-64 {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button-64:active,
.button-64:hover {
  outline: 0;
}

.button-64 span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button-64:hover span {
  background: none;
}

@media (min-width: 768px) {
  .button-64 {
    font-size: 24px;
    min-width: 196px;
  }
}

.css-button {
  margin: 10px;
  padding: 15px 30px;
  border: none;
  background-color: #008cba;
  color: white;
  font-size: 1rem;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.css-button:hover {
  background-color: #005f5f;
}

    .quote-container {
      margin: 30px auto;
      padding: 20px;
      background-color: #f0f0f0;
      width: 60%;
      border: 2px solid black;
      font-style: italic;
    }

.audio-section {
      margin: 30px auto;
      width: 60%;
      background-color: #166534;
      color: white;
      padding: 20px;
      border: 2px solid #000;
    }

    .audio-section h2 {
      margin-top: 0;
    }

    .audio-section button {
      margin: 10px;
      padding: 12px 30px;
      border-radius: 10px;
      font-weight: bold;
      font-size: 16px;
    }

    .audio-section p {
      text-align: left;
      margin-left: 40px;
    }
